<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" > 
        
<hibernate-configuration>
	<session-factory>
	
	<!-- Dialect -->
	
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

	<!-- Session Context -->
	<property name="current_session_context_class">thread</property>
	
	<!-- Connection Information -->
	
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://localhost/safe_app</property>
	<property name="hibernate.connection.username">safey</property>
	<property name="hibernate.connection.password">brightday</property>
	
	<!-- Mappings -->
	
	<mapping resource="entities/Client.hbm.xml" />
	
	</session-factory>
</hibernate-configuration>